@import url(./fontello.css);
@import url(./normalize.css);
@import url(./reset.css);

/* 숨김 콘텐츠 */
.a11y-hidden {
  /* display: none; */
  position: absolute;
  /* top:  -9999em; */
  width: 1px;
  height: 1px;
  overflow: hidden;
  /* clip: rect(0 0 0 0);  */
  /* 구형 브라우저에서 적용 가능 */
  clip-path: polygon(0 0, 0 0, 0 0);
  /* clip-path: inset(50%); */
  /* inset으로도 표현 가능 */
}

/* 기본스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 본문 스타일 */
body {
  /* em, rem 단위 사용해보기 */
  font-size: 1.4rem;
  color: #212121;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  /* background-color: #ccc;
  background-image: url(./images/bg_flower.png),
    linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
  background-repeat: no-repeat, repeat;
  background-position: 50% 0, 0 0; */

  background: url(./images/bg_flower.png) no-repeat 50% 0,
    #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%)
      repeat 0 0;
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background: #fff;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
  position: relative;
}

/* 로고 */
.logo {
  position: absolute;
  top: 45px;
  left: 60px;
  z-index: 10;
}

/* 텍스트 링크 모음 */
.member {
  text-align: right;
  padding: 4px 0;
  /* position을 이용해서 .member영역을 오른쪽으로 10px 만큼 이동하기 */
  /* position: relative;
  right: -10px; */
  /* margin-left: 10px; */
  /* transform을 이용해서 .member영역을 오른쪽으로 10px 만큼 이동하기 */
  transform: translateX(10px);
}

.member li {
  /* background-color: pink; */
  display: inline-block;
}

.member a {
  padding: 6px 10px;
  display: inherit;
  text-transform: uppercase;
}

/* 마지막 li에 포함된 a요소를 선택하여 오른쪽 패딩 값을 0을오 재정의 */
/* .member li:last-child a {
  padding-right: 0;
} */

.divider {
  margin-right: 4px;
}

/* 메인 메뉴 */

.navigation {
  padding-bottom: 40px;
}

.menu {
  background: #e85e2c
    linear-gradient(
      to bottom,
      #ef9126 0%,
      #e85e2c 35%,
      #e85e2c 70%,
      #ef9126 100%
    );
  border-top: 2px solid #212121;
  border-radius: 0 0 5px 5px;
  /* display: flow-root; */
  padding-left: 230px;
  height: 47px;
  position: relative;
}

.menu > li:nth-child(-n + 3) {
  position: relative;
}

.menu-item {
  float: left;
  border-left: 2px solid #fff;
}

/* 구체성 점수 -> 10점 */
.menu-button {
  border: 0;
  background-color: transparent;
  padding: 0 23px;
  line-height: 45px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}

/* 구체성 점수 -> 20점 */
.is-active .menu-button {
  color: #ff0;
}

.is-active .menu-button::after {
  content: "";
  display: block;
  border-bottom: 2px solid #000;
}

.sub-menu {
  position: absolute;
  top: 47px;
  display: none;
  padding: 4px 0;
}

.menu-html,
.menu-css,
.menu-standards {
  left: 0;
}

.menu-accessibility,
.menu-qna,
.menu-archive {
  right: 0;
}

.is-active .sub-menu {
  display: inline-block;
  white-space: nowrap;
}

.sub-menu li {
  display: inline-block;
}

.sub-menu a::before {
  content: "\e805";
  font-family: "fontello";
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub-menu a:hover::before,
.sub-menu a:focus::before {
  content: "\e801";
}
.sub-menu a:hover,
.sub-menu a:focus {
  color: #f00;
}

.sub-menu a {
  display: inline-block;
  padding: 6px 0;
}

/* 비주얼 */
/* 애니메이션 규칙을 선언해어 준 것 */
@keyframes moveEffect {
  0% {
    font-size: 12px;
    color: hsla(0, 0%, 0%, 0);
    /* padding: 0; */
    /* top: 0;
    left: 0; */
    transform: translate(0, 0);
  }
  100% {
    font-size: 24px;
    color: hsla(0, 0%, 0%, 1);
    /* padding: 75px 0 0 400px; */
    /* top: 75px;
    left: 400px; */
    transform: translate(400px, 75px);
  }
}

@keyframes fadeEffect {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.visual {
  height: 120px;
  position: relative;
}

.visual::before,
.visual::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  animation: fadeEffect 2000ms infinite alternate;
}

.visual::before {
  background: url(./images/ani_flower_01.png) no-repeat 0 40%,
    url(./images/ani_flower_02.png) no-repeat 68% 0;
}

.visual::after {
  background: url(./images/ani_flower_03.png) no-repeat 35% 0,
    url(./images/ani_flower_04.png) no-repeat 90% 0;
  animation-delay: 1000ms;
}

.visual-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  animation: moveEffect 500ms ease-in-out forwards;
  /* display: inline-block; */
  position: relative;
  z-index: 100;
}

/* 메인 */
.main {
  background: #fff;
  min-height: 50vh;
  display: flow-root;
  padding: 30px 15px;
  border-radius: 15px 15px 0 0;
  /* overflow: hidden; */
  /* BFC 찾아보기 */
}

/* .main::after {
  content: "";
  clear: both;
  display: block;
} */

.group {
  margin: 0 15px;
  float: left;
}

.group1 {
  width: 250px;
}
.group2 {
  background-color: salmon;
  width: 380px;
}
.group3 {
  background-color: gold;
  width: 190px;
}

/* 로그인 영역 */
.login {
  padding: 10px;
  border-radius: 5px;
  background: orange radial-gradient(circle at right top, orange, orangered);
  box-shadow: 5px 5px 0 0 #ccc;
}

h2.login-title {
  color: yellow;
  font-size: 15px;
  text-indent: 10px;
}

.login-form {
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}

.sign {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}

/* 슬로건 */
.slogan {
  background: skyblue;
  height: 10vh;
}
/* 푸터 */
.footer {
  background: linear-gradient(
    to bottom,
    #ccc 0%,
    #eee 35%,
    #fff 70%,
    #fff 100%
  );
}
.footer-inner {
  height: 15vh;
  background: silver;
}
